## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [118]:
import pandas as pd
wastestats_03_17 = pd.read_csv('datasets/wastestats.csv', index_col='waste_type')
wastestats_18_19 = pd.read_csv('datasets/2018_2019_waste.csv')
energy_saved = pd.read_csv('datasets/energy_saved.csv')

In [119]:
wastestats_03_17.head()

,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
waste_type,,,,,
Food,679900,111100.0,791000,0.14,2016
Paper/Cardboard,576000,607100.0,1183100,0.51,2016
Plastics,762700,59500.0,822200,0.07,2016
C&D,9700,1585700.0,1595400,0.99,2016
Horticultural waste,111500,209000.0,320500,0.65,2016

In [120]:
wastestats_03_17.index.unique()#loc['Food', :]

Index(['Food', 'Paper/Cardboard', 'Plastics', 'C&D', 'Horticultural waste',
       'Wood', 'Ferrous metal', 'Non-ferrous metal', 'Used slag',
       'Ash & Sludge', 'Glass', 'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Food waste',
       'Construction Debris', 'Wood/Timber', 'Horticultural Waste',
       'Ferrous Metal', 'Non-ferrous Metals', 'Used Slag', 'Sludge',
       'Scrap Tyres', 'Ferrous Metals', 'Others', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)'],
      dtype='object', name='waste_type')

In [121]:
wastestats_18_19.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [122]:
energy_saved = energy_saved.transpose()
energy_saved.head(20)

,0,1,2,3,4
The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,1 barrel oil is approximately 159 litres of oil,NaN,material,energy_saved,crude_oil saved
Unnamed: 1,NaN,NaN,Plastic,5774 Kwh,16 barrels
Unnamed: 2,NaN,NaN,Glass,42 Kwh,NaN
Unnamed: 3,NaN,NaN,Ferrous Metal,642 Kwh,1.8 barrels
Unnamed: 4,NaN,NaN,Non-Ferrous Metal,14000 Kwh,40 barrels
Unnamed: 5,NaN,NaN,Paper,4000 kWh,1.7 barrels

In [123]:
energy_saved.drop(columns=[0, 1], inplace=True)
energy_saved.set_index(2, inplace=True)

new_header = energy_saved.iloc[0]
energy_saved = energy_saved[1:] #take the data less the header row
energy_saved.columns = new_header #set the header row as the df header

In [124]:
energy_saved.index.name = 'material'

In [125]:
energy_saved

material          energy_saved crude_oil saved
material
Plastic               5774 Kwh      16 barrels
Glass                   42 Kwh             NaN
Ferrous Metal          642 Kwh     1.8 barrels
Non-Ferrous Metal    14000 Kwh      40 barrels
Paper                 4000 kWh     1.7 barrels

In [126]:
wastestats_18_19['total_waste_recycled_tonne'] = wastestats_18_19.iloc[:,[2]]*1000
wastestats_18_19.set_index('Waste Type', inplace=True)
wastestats_18_19.rename(columns={"Year": "year"}, inplace=True)

In [127]:
# create dataset with range 2003-2019
wastestats_03_19 = wastestats_03_17.iloc[:, [1, 4]]

In [128]:
wastestats_18_19.loc[:, ['total_waste_recycled_tonne', 'year']]

                                       total_waste_recycled_tonne  year
Waste Type
Construction& Demolition                                  1434000  2019
Ferrous Metal                                             1270000  2019
Paper/Cardboard                                            449000  2019
Plastics                                                    37000  2019
Food                                                       136000  2019
Wood                                                       289000  2019
Horticultural                                              293000  2019
Ash & Sludge                                                25000  2019
Textile/Leather                                              6000  2019
Used Slag                                                  127000  2019
Non-Ferrous Metal                                          124000  2019
Glass                                                       11000  2019
Scrap Tyres                                                 31000  2019
Others (stones, ceramic, rubber, ect)                       15000  2019
Overall                                                   4247000  2019
Construction& Demolition                                  1618000  2018
Ferrous Metal                                              126000  2018
Paper/Cardboard                                            586000  2018
Plastics                                                    41000  2018
Food                                                       126000  2018
Wood                                                       428000  2018
Horticultural                                              227000  2018
Ash & Sludge                                                25000  2018
Textile/Leather                                             14000  2018
Used Slag                                                  179000  2018
Non-Ferrous Metal                                          170000  2018
Glass                                                       12000  2018
Scrap Tyres                                                 29000  2018
Others (stones, ceramic, rubber, ect)                       11000  2018
Overall                                                   4726000  2018

In [129]:
wastestats_03_19 = pd.concat([wastestats_03_19, wastestats_18_19.loc[:, ['total_waste_recycled_tonne', 'year']]])
#wastestats_03_19.append(wastestats_18_19.loc[:, ['total_waste_recycled_tonne', 'Year']])

In [130]:
wastestats_03_19.index.name = 'material'
df = wastestats_03_19.loc[(wastestats_03_19['year'].between(2015, 2019)), :]

In [131]:
df['material'] = df.index
df = df.reset_index(drop=True)

In [132]:
# normalize material value
df.loc[df['material'] == 'Plastics', ['material']] = 'Plastic'
filt = (df['material'] == 'Ferrous metal') | (df['material'] == 'Ferrous Metals')
df.loc[filt, ['material']] = 'Ferrous Metal'
filt = (df['material'] == 'Non-ferrous metal') | (df['material'] == 'Non-ferrous metals')
df.loc[filt, ['material']] = 'Non-Ferrous Metal'

In [133]:
df = df.loc[df['material'].isin(['Plastic','Glass', 'Ferrous Metal', 'Non-Ferrous Metal']), :]

In [134]:
df['total_energy_saved'] = None
for ind in df.index:
    material = df.loc[ind, 'material']
    energy = int(energy_saved.loc[material, 'energy_saved'].split()[0])
    #df.loc[ind, ['total_energy_saved']] = 1000
    df.loc[ind, ['total_energy_saved']] = energy * int(df.loc[ind, 'total_waste_recycled_tonne'])
    #print(material, energy, df.loc[ind, ['total_energy_saved']])
    #row["total_energy_saved"] = row["total_waste_recycled_tonne"] / 1000
    #print(row["total_energy_saved"])

In [135]:
df

    total_waste_recycled_tonne  year           material  total_energy_saved
2                      59500.0  2016            Plastic           343553000
6                    1351500.0  2016      Ferrous Metal           867663000
7                      95900.0  2016  Non-Ferrous Metal          1342600000
10                     14700.0  2016              Glass              617400
17                     57800.0  2015            Plastic           333737200
21                   1333300.0  2015      Ferrous Metal           855978600
22                    160400.0  2015  Non-Ferrous Metal          2245600000
25                     14600.0  2015              Glass              613200
31                   1371000.0  2017      Ferrous Metal           880182000
33                     92200.0  2017  Non-Ferrous Metal          1290800000
38                     12400.0  2017              Glass              520800
41                     51800.0  2017            Plastic           299093200
46                   1270000.0  2019      Ferrous Metal           815340000
48                     37000.0  2019            Plastic           213638000
55                    124000.0  2019  Non-Ferrous Metal          1736000000
56                     11000.0  2019              Glass              462000
61                    126000.0  2018      Ferrous Metal            80892000
63                     41000.0  2018            Plastic           236734000
70                    170000.0  2018  Non-Ferrous Metal          2380000000
71                     12000.0  2018              Glass              504000

In [136]:
annual_energy_savings = df.groupby('year').sum()[['total_energy_saved']]
annual_energy_savings

      total_energy_saved
year
2015          3435929000
2016          2554433400
2017          2470596000
2018          2698130000
2019          2765440000